# Core ML
numpy==1.26.4
pandas==2.2.2
scikit-learn==1.5.1
matplotlib==3.9.1

# MLOps
mlflow==2.15.0
dagshub==0.3.34
dvc[s3]==3.53.0

# Web (if using Flask app)
Flask==3.0.3
waitress==3.0.0

# Utilities
python-dateutil==2.9.0.post0
PyYAML==6.0.1
requests==2.32.3
tqdm==4.66.4

# Optional (safe)
joblib==1.4.2

# Local package
-e .